<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>Test</display-name>
  <context-param>
  <param-name>email</param-name>
  <param-value>customersupport@support.com</param-value>
  </context-param>
  <!-- <servlet>
  <servlet-name>WelcomeServlet</servlet-name>
  <servlet-class>com.bmpl.servlets.WelcomeServlet</servlet-class>
 	<init-param>
 	<param-name>drivername</param-name>
 	<param-value>com.mysql.jdbc.Driver</param-value>
 	</init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>WelcomeServlet</servlet-name>
  <url-pattern>/welcome.ims</url-pattern>
  </servlet-mapping> -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/error.html</location>
  </error-page>
</web-app>